{% extends 'ruleta_c\cdje_base.html' %}
{% load static %}

{% block content %}

<section class="tm-welcome-section">
  <div class="container tm-position-relative">
    <div class="tm-lights-container">
      <a HREF="" ><img src={% static 'img/light.png' %} alt="Light" class="light light-1"></a>
      <img src={% static 'img/light.png' %} alt="Light" class="light light-2">
      <img src={% static 'img/light.png' %} alt="Light" class="light light-3">  
    </div>        
    <div class="row tm-welcome-content">
      <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src={% static 'img/header-line.png' %} alt="Line" class="tm-header-line">&nbsp;Si vols...&nbsp;&nbsp;<img src={% static 'img/header-line.png' %} alt="Line" class="tm-header-line"></h2>
      <h2 class="gold-text tm-welcome-header-2">Contactar</h2>
      <p class="gray-text tm-welcome-description">... amb mi per algun motiu ho pot fer a través del correu-e de sempre o bé  a través del formulari.</p>
    </div>
    <img src={% static 'img/table-set.png' %} alt="Table Set" class="tm-table-set img-responsive">             
  </div>      
</section>

    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        <section class="tm-section row">
          <h2 class="col-lg-12 margin-bottom-30">Parla amb mi d'això que et preocupa...</h2>
          <form action="#" method="post" class="tm-contact-form">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" id="contact_name" class="form-control" placeholder="Nom" />
              </div>
              <div class="form-group">
                <input type="email" id="contact_email" class="form-control" placeholder="e-mail" />
              </div>
              <div class="form-group">
                <input type="text" id="contact_subject" class="form-control" placeholder="que" />
              </div>
              <div class="form-group">
                <textarea id="contact_message" class="form-control" rows="6" placeholder="missatge"></textarea>
              </div>
              <div class="form-group">
                <button class="tm-more-button" type="submit" name="submit">Enviar formulari</button> 
              </div>               
            </div>
            
          </form>
        </section>
      </div>
    </div> 
{% endblock %}