{% extends 'ruleta_c/cdje_base.html' %}
{% load static %}

{% block content %}


        <section class="tm-section row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="tm-section-header gold-text tm-handwriting-font">El Kfè d'en Jota-È</h2>
            <h2>Una Mi-K de ToT </h2>
            <p class="tm-welcome-description">Aquesta web pretén ser el lloc de pausa d'alguns dels cursos que imparteixo pel mon<span class="blue-text"> SQL, Excel, Power BI, Project, VBA... etc</span>. Aquí anirem posant els jocs que fem servir a l'aula i altres merdes que poguem fer servir. Com que no tenia res millor a mà, tambè he aprofitat per penjar el meu llibre. Que perquè el deixo així lliure en comptes de vendre'l i fer-me d'or, sugurament tingui alguna cosa a veure amb aquell músic argentí que deia "pirateenme por favor!"</p>
            
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
            <div class="inline-block shadow-img">
              <img src={% static 'img/2.jpg' %} alt="Image" class="img-circle img-thumbnail">  
            </div>   
            <div>
              <img src={% static 'img/table-set.png' %} alt="Table Set" class="tm-table-set img-responsive">             
            </div>   
            

          </div>            
        </section>    
           
        
        
        <section class="tm-section tm-section-margin-bottom-0 row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src={% static 'img/logo.png' %} alt="Logo" class="tm-site-logo"> Els mes mirats</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>
          <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
              <img src={% static 'img/popular-1.jpg' %} alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">SQL</span> MindTrap</h3><hr class="tm-popular-item-hr">
                <p>Joguem amb les situiacions i normes del joc de Taula MindTrap adaptades perque els respostes siguin en SQL</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Entrar<br>-Hi</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src={% static 'img/popular-2.jpg' %} alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">L</span>libre</h3><hr class="tm-popular-item-hr">
                <p>Com que només n'he fet un, n'hi dic: el llibre. Quan en faci mes ja anirem variant.</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Llegir<br>més</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src={% static 'img/popular-3.jpg' %} alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">P</span>articipa</h3><hr class="tm-popular-item-hr">
                <p>Aporta les teves propies preguntes perque les poguem afegir al joc SQl MindTrap</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Fem<br>-ho</a>
                </div>
              </div>              
            </div>
          </div>          
        </section>
        
        <section class="tm-section">
          <div class="row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src={% static 'img/logo.png' %} alt="Logo" class="tm-site-logo"> Cursos...</h2> 
              <div class="tm-hr-container"><hr class="tm-hr"></div> 
            </div>  
          </div>          
          <div class="row">
            <div class="tm-daily-menu-container margin-top-60">
              <div class="col-lg-4 col-md-4">
                <img src={% static 'img/menu-board.png' %} alt="Menu board" class="tm-daily-menu-img">      
              </div>            
              <div class="col-lg-8 col-md-8">
                <p><strong>Tots ells els adapto al colectiu i necessitats específiques de cadascú</strong></p>
                <ul class="margin-top-30">
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">Excel:</h2>De molt bàsic a molt avançat VBA i/o preparar els exàmens MOS</li> 
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">Power BI:</h2> Les dades del'empresa t'ajuden a prendre decisions</li>
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">SQL, TSQL:</h2>El llenguatge de les BDR's</li> 
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">SPC: Statistic</h2> Process Control -> Estan sota control els teus processos?</li> 
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">Access:</h2>Dissenyem i creem petites BDR's i/o preparem el MOS</li> 
                  <li><h2 class="tm-section-header gold-text tm-handwriting-font">PICE: </h2>Primer accés a la informàtica</li> 
                </ul>
                
              </div>
            </div>
          </div>          
        </section>
          
{% endblock %}