<!DOCTYPE html>

    <head>
        <title> Query Roulette </title>

    </head>

    <body>
        <header>
            <h1> Query Roulette</h1>

        </header>
        <div>
            <h2> pagina principal del joc MindTrap SQL version</h2>
            <p></p>
            <a href=""> Anar al següent joc</a>


        </div>
        <div>
            {% for cons in consulta %}

                <h2> de la Base de Dades:  {{cons.base_id}} </h2>
                <h1>{{ cons }}</h1>
            
            {% endfor %}
    
            

		<div>


        </div>


    </body>


</html>