{% load static %}
<!DOCTYPE html>


    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/ruleta_c.css' %}">



        <title> Query Roulette </title>

    </head>

    <body>
        <header>
            <h1> Query Roulette</h1>

        </header>
        <div>
            <h2> pagina principal del joc MindTrap SQL version</h2>

            <p>
                <a href=""> Anar al següent joc</a>
            </p>


        </div>
        <div>
            {% for cons in consulta %}

                <h1> de la Base de Dades: </h1>
                <h3> <strong> {{cons.base_id}} </strong> </h3>
               
                <div class="consulta">

                    {{ cons }}

                </div>
            {% endfor %}
    
            

        </div>


    </body>


</html>